.btn-red{
	background-color: rgb(199, 0, 57);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	font-family: roboto;
	text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 23px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 100%;
    display: block;
    text-align: center;
}
