#dates {
font-family: roboto;
font-size: 17px;
letter-spacing: 1px;
word-spacing: 2.2px;
color: #8F8F8F;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
text-align: center;
}